<%- include('../shared/head', { styleLinks: ['/public/css/form.css', '/public/css/auth.css'] }) %>

<body>
    <%- include('../shared/navigation') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% }%>
        <form action="/new-password" method="post">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <button type="submit">Update Password</button>

            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </main>

<%- include('../shared/end') %>

