<%- include('../shared/head', { styleLinks: ['/public/css/form.css'] }) %>

<body>
<%- include('../shared/navigation') %>

<main>
    <% if(errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% }%>
    <form action="/reset-password" method="post">
        <div class="form-control">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" />
        </div>
        <button type="submit">Reset</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
</main>

<%- include('../shared/end') %>

