<%- include('../shared/head', { styleLinks: ['/public/css/form.css'] }) %>

<body>
    <%- include('../shared/navigation') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% }%>
        <form action="/signup" method="post">
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" value="<%= userInput.email %>" />
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= userInput.password %>" />
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="<%= userInput.confirmPassword %>" />
            </div>
            <button type="submit">Signup</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </main>

<%- include('../shared/end') %>
