<%- include('../shared/head', { styleLinks: ['/public/css/card.css'] }) %>

<body>
    <%- include('../shared/navigation') %>

    <main>
        <h1>All Products</h1>
        <% if (products.length) { %>
            <div class="grid">
                <% for (let prod of products) { %>
                    <%- include('../shared/card', { product: prod, isAdmin: true }) %>
                <% } %>
            </div>
        <% } else { %>
            <p>No products</p>
        <% } %>
    </main>

<%- include('../shared/end') %>
