<%- include('../shared/head', { styleLinks: ['/public/css/form.css'] }) %>

<body>
    <%- include('../shared/navigation') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% }%>
        <!-- enctype="multipart/form-data" tells the server,
        that form data contains not only text, but also a binary data -->
        <form action="<%= formAction %>" method="post" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<%= product.title %>" />
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image" />
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" step="0.01" name="price" id="price" value="<%= product.price %>" />
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="3"><%= product.description %></textarea>
            </div>
            <button type="submit"><%= pageTitle %></button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <% if(product._id) { %>
                <input type="hidden" value="<%= product._id %>" name="productId" />
            <% } %>
        </form>
    </main>

<%- include('../shared/end') %>
