<% if(isAuthenticated) { %>
    <form action="/cart/add" method="post">
        <button type="submit">Add to Cart</button>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="productId" value="<%= product._id %>">
    </form>
<% } %>
