<div class="card">
    <header class="card__header">
        <h2 class="product__title"><%= product.title %></h2>
    </header>
    <div class="card__image">
        <img src="/<%= product.imageUrl %>" alt="product image">
    </div>
    <div class="card__content">
        <h2 class="product__price">$<%= product.price %></h2>
        <p class="product__description"><%= product.description %></p>
    </div>
    <div class="card__actions">
        <% if(isAdmin) { %>
            <a href="/admin/product-form/<%= product._id %>" class="btn">Edit</a>

            <form action="/admin/delete-product" method="post">
                <button type="submit">Delete</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" value="<%= product._id %>" name="productId">
            </form>
        <% } else { %>
            <a href="/shop/product-details/<%= product._id %>" class="btn">Details</a>

            <%- include('./add-to-cart') %>
        <% } %>
    </div>
</div>
