<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>

    <link rel="stylesheet" href="/public/css/main.css">

    <% if(styleLinks) { %>
        <% for(let link of styleLinks) { %>
            <link rel="stylesheet" href="<%= link %>">
        <% } %>
    <% }%>
</head>
