<header class="main-header">
    <nav class="main-nav">
        <ul class="main-list">
            <li class="main-list__item"><a class="main-list__link" href="/">Shop</a></li>
            <li class="main-list__item"><a class="main-list__link" href="/shop/products">Products</a></li>
            <% if(isAuthenticated) { %>
                <li class="main-list__item"><a class="main-list__link" href="/cart">Cart</a></li>
                <li class="main-list__item"><a class="main-list__link" href="/orders">Orders</a></li>
                <li class="main-list__item"><a class="main-list__link" href="/admin/product-form">Admin: Add Product</a></li>
                <li class="main-list__item"><a class="main-list__link" href="/admin/products">Admin: Products</a></li>
            <% } %>
        </ul>
        <ul class="auth-list">
            <% if(isAuthenticated) { %>
                <li class="main-list__item">
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </li>
            <% } else { %>
                 <li class="main-list__item"><a class="main-list__link" href="/login">Login</a></li>
                 <li class="main-list__item"><a class="main-list__link" href="/signup">Signup</a></li>
            <% } %>
        </ul>
    </nav>
</header>

<script type="text/javascript">
    document.querySelectorAll('nav li a').forEach(element => {
       if (element.href === window.location.href) {
           element.classList.add('active');
       }
    });
</script>
