<!-- '%-' is used for unescaped html -->
<%- include('shared/head', { styleLinks: [] }) %>

<body>
    <%- include('shared/navigation') %>

    <main>
        <h1>Page Not Found!</h1>
    </main>

<%- include('shared/end') %>
