<%- include('shared/head', { styleLinks: [] }) %>

<body>
<%- include('shared/navigation') %>

<main>
    <h1>Server error occurred!</h1>
    <p>Something went wrong... We're working on it.</p>
</main>

<%- include('shared/end') %>
