.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    max-width: 95%;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__image {
    display: flex;
    justify-content: center;
    height: 40%;
}

.card__image img {
    width: 50%;
}

.card__actions {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
}

button {
    font-family: inherit;
    font-size: 1rem;
    border: 3px solid #1512ce;
    border-radius: 5px;
    color: #1512ce;
    background: white;
    cursor: pointer;
}

.btn {
    text-decoration: none;
    padding: 1px 6px;
    margin-right: 15px;
    border: 3px solid #1512ce;
    border-radius: 5px;
    color: #1512ce;
    background: white;
    cursor: pointer;
}

button:hover,
button:active,
.btn:hover,
.btn:active {
    background-color: #1512ce;
    color: white;
}

.product__title {
    color: #1512ce;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #1512ce;
}

.product__description {
    text-align: center;
}
