ul.cart-list {
    color: #1512ce;
    font-size: 1.5rem;
}

div.cart-list__item-link > a {
    text-decoration: none;
    color: #1512ce;
}

div.cart-list__item-link > a:hover {
    color: #f6db92;
}

span {
    font-size: 1rem;
    font-weight: bolder;
}

li.cart-list__item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

button.cart__delete-btn {
    font-size: 2rem;
    font-weight: bold;
    color: crimson;
    border: 1px solid transparent;
    background-color: white;
}

button.cart__delete-btn:hover {
    border: 1px solid crimson;
    background-color: white;
}

button.cart__order-btn {
    font-family: inherit;
    font-size: 1.125rem;
    border: 3px solid #1512ce;
    border-radius: 5px;
    color: #1512ce;
    background: white;
    cursor: pointer;
}

button.cart__order-btn:hover {
    background-color: #1512ce;
    color: white;
}
