main {
    text-align: center;
}

img {
    width: 30%;
}

p {
    font-size: 1.5rem;
}

button {
    font-family: inherit;
    font-size: 1rem;
    border: 3px solid #1512ce;
    border-radius: 5px;
    color: #1512ce;
    background: white;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #1512ce;
    color: white;
}
