form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

label {
    color: #1512ce;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input, textarea {
    border: 2px solid #1512ce;
    border-radius: 5px;
    padding: 0.5rem;
}

input:focus, textarea:focus {
    outline-color: #f6db92;
}

button {
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem;
    background-color: white;
    border: 2px solid #1512ce;
    border-radius: 5px;
    color: #1512ce;
    cursor: pointer;
}

button:hover {
    background-color: #1512ce;
    color: white;
}
