@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header.main-header {
    height: 10vh;
    background-color: #1512ce;
}

nav.main-nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.main-list {
    display: flex;
    flex: 2;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.auth-list {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 0;
    padding: 0 1.5rem 0 0;
    list-style: none;
}

li.main-list__item > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

li.main-list__item > form > button {
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color: #1512ce;
    padding: 0;
    cursor: pointer;
}

li.main-list__item a:hover,
li.main-list__item a.active,
li.main-list__item > form > button:hover,
li.main-list__item > form > button:active {
    color: #f6db92;
}

main {
    padding: 1rem;
}

main h1, h2, p {
    color: #1512ce;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.user-message {
    margin: auto;
    width: 50%;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #1512ce;
    border-radius: 3px;
    background-color: #1512ce;
    color: white;
}

.user-message--error {
    border: 1px solid red;
    background-color: #ffb0b0;
    color: red;
}
