<%- include('../shared/head', { styleLinks: ['/public/css/cart.css'] }) %>

<body>
    <%- include('../shared/navigation') %>

    <main>
        <h1>Your Cart</h1>

        <% if(cart && cart.products.length) { %>
            <ul class="cart-list">
                <% for (let prod of cart.products) { %>
                    <li class="cart-list__item">
                        <div class="cart-list__item-link">
                            <a href="/shop/product-details/<%= prod._id %>"><%= prod.title %>:</a>
                            <span>$<%= prod.price%> &times; <%= prod.amount %></span>
                        </div>
                        <form class="cart-form" action="/cart/delete" method="post">
                            <button type="submit" class="cart__delete-btn">&times;</button>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="productId" value="<%= prod._id %>">
                        </form>
                    </li>
                <% } %>
            </ul>

            <h2>Total Price, $<%= cart.totalPrice %></h2>

            <form action="/orders/create" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="cart__order-btn">Order now!</button>
            </form>
        <% } else { %>
            <p>No products in the cart!</p>
        <% } %>

    </main>

<%- include('../shared/end') %>
