<%- include('../shared/head', { styleLinks: ['/public/css/orders.css'] }) %>

<body>
<%- include('../shared/navigation') %>

<main>
    <% if(orders.length) { %>
        <h1>Orders for <%= userName %>: </h1>
        <ul class="order-list">
            <% for (let order of orders) { %>
                <li class="order-list__item">
                    <h2 class="order-list__item__header"># <%= order._id %></h2>
                    <ul class="order-list__item__list">
                        <% for (let product of order.order.products) { %>
                            <li><%= product.title %>: $<%= product.price %> &times; <%= product.amount %></li>
                        <% } %>
                    </ul>
                    <p class="total-price">
                        Order Total Price: $<%= order.order.totalPrice %> - <a href="/orders/<%= order._id%>">Invoice</a>
                    </p>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <h1>Your orders: </h1>
        <p>You have no orders yet...</p>
    <% } %>

</main>

<%- include('../shared/end') %>

