<%- include('../shared/head', { styleLinks: ['/public/css/details-view.css'] }) %>

<body>
    <%- include('../shared/navigation') %>

    <main>
        <h1><%= product.title %></h1>
        <hr>
        <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
        <p>$<%= product.price %></p>
        <p><%= product.description %></p>

        <%- include('../shared/add-to-cart') %>
    </main>

<%- include('../shared/end') %>
